/* @tailwind base; */
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

h1, h2, h3 {
  color: #3e3e3e;
}

h2 {
  border-left: 3px solid #888;
  padding-left: 10px;
}

section {
  padding-bottom: 1.4rem;
  padding-left: 1rem;
}

button {
  border: 1px solid gray;
  border-radius: 4px;
  cursor: pointer;
  background: #fff;
  margin-right: 10px;
  padding: 2px 10px;
}

button:hover {
  background: #eee
}

.c-input-info {
  font-size: 12px;
}

.profile-img {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  margin: 10px 0;
}

.profile-img img { 
  width: 100%;
}

.repo-name {
  padding-right: 10px;
  display: inline-block;
  font-size: 12px;
  color: #3e3e3e
}
